.form-input{
    margin: auto;
    width: 1100px;
    height: 325px;
    border-radius: 20px;
    background-color: #fafafa;
    margin-top: 50px;
    margin-bottom: 50px;

}

.input-header{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
    color: white;
    font-size: 21px;
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.input-header a{
    position: absolute;
    left: 3%;

    display: flex;
    align-items: center;
}

.form-input form {
    margin: auto;
    font-size: 18px;
    color: #1b1b1b;
}


.form-row input, select {
    width: 250px;
    height: 40px;
    border-radius: 7px;
    border: solid rgb(225, 225, 225) 1px;
    background-color: white;
    padding-left: 10px;
    font-size: 18px;

}

.form-row input:focus, select:focus{
    outline: none;
    border: solid #67afe9 2px;
}

.form-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 23px;
}

.form-row div {
    width: 250px;
}

.input-group{
    width: 250px;
}

.save-btn{
    margin-left: 650px;
    text-align: center;
    vertical-align: center;
    border-radius: 4px;
    background: #1b1b1b;
    color: #fbfbfb;
    height: 40px;
    width: 150px;
}

.save-btn:hover{
    color: cyan;
}